*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}
html,body{
    width: 100%;
    height: 100%;
}
.main{
    width: 100vw;
    height: 100vh;
    box-shadow: inset 0 0 80px whitesmoke, inset 20px 0 80px rgba(255, 0, 255, 0.747),
    inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff,
    0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.page{
    width: 80vw;
    height: 80vh;
    background: #232323;
    border-radius: 30px;
    box-shadow: 0 50px 70px #000000;
    overflow:scroll;
    overflow-x: hidden;
}
.page::-webkit-scrollbar {
    width: 0.1rem;
  }
   
.page::-webkit-scrollbar-track {
    box-shadow: 0;
  }
   
.page::-webkit-scrollbar-thumb {
    background-color:transparent;
  }
.nav{
    margin-right: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.leftItems{
    gap: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.rightItems{
    gap: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.nav button {
    position: relative;
    height: 50px;
    padding: 0 30px;
    border: 2px solid #979696;
    background: #232323;
    user-select: none;
    white-space: nowrap;
    transition: all .05s linear;
    font-family: inherit;
    color: #979696;
   }
   
   .nav   button:before, button:after {
    content: "";
    position: absolute;
    background: #232323;
    transition: all .2s linear;
   }
   
   .nav  button:before {
    width: calc(100% + 6px);
    height: calc(100% - 16px);
    top: 8px;
    left: -3px;
   }
   
   .nav  button:after {
    width: calc(100% - 16px);
    height: calc(100% + 6px);
    top: -3px;
    left: 8px;
   }
   
 .nav  button:hover {
    cursor: crosshair;
   }
   
   .nav button:active {
    transform: scale(0.95);
   }
   
   .nav button:hover:before {
    height: calc(100% - 32px);
    top: 16px;
   }
   
  .nav button:hover:after {
    width: calc(100% - 32px);
    left: 16px;
   }
   
   .nav button a {
    text-decoration: none;
    cursor: crosshair;
    color: #979696;
    font-size: 15px;
    z-index: 3;
    position: relative;
    font-weight: 600;
   }
.logo img{
    width: 70px;
    margin-top: 10px;
}
.heading{
    margin-top: 20px;
    margin-left:25vw;
    width: 30vw;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:12px;
    box-shadow: 5px 5px 20px rgb(0, 0, 0),
             -10px -10px 20px rgb(66, 66, 66);
}
.heading h1{
    font-family: "moonhouse";
    font-size: 3.5vw;
    color: #979696;
}
.parts{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.leftpart{
    margin-top: 25px;
    margin-left:0vw;
    width: 30vw;
    height: 50vh;
    align-items: center;
    justify-content: space-between;
    border-radius:12px;
    box-shadow: 5px 5px 20px rgb(0, 0, 0),
             -10px -10px 20px rgb(66, 66, 66);
    flex-wrap: wrap;
}
.rightpart{
    margin-top: 25px;
    margin-left:0vw;
    width: 30vw;
    height: 50vh;
    border-radius:12px;
    box-shadow: 5px 5px 20px rgb(0, 0, 0),
             -10px -10px 20px rgb(66, 66, 66);
}
.leftpart h1{
    margin-top: 1vh;
    margin-left: 2vw;
    font-family: "moonhouse";
    font-size: 3.5vw;
    color: #979696;
}
.leftpart h2 span{
    margin-left: 15.5vw;
    font-size: 1vw;
    color: antiquewhite;
}
.leftpart h2{
    margin-top: 1vh;
    font-size:3vw;
    font-family: Brush Script MT, Brush Script Std, cursive;
    color: #dadada;
}
.card {
    margin-top: 6.5vh;
    margin-left: 5vw;
    display: flex;
    height: 8vh;
    width: 20vw;
    flex-wrap: wrap;
  }
  
  .card svg {
    display: flex;
    width: 60%;
    height: 60%;
    min-width: 20px;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
    padding: 0.25rem;
    cursor: pointer;
  }
  
  .card .social-link1,.card .social-link2,.card .social-link3,.card .social-link4{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
    border-radius: 1000px;
  }
  
  .card svg {
    transform: scale(1);
  }
  
  .card .social-link1:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    animation: bounce_613 0.4s linear;
  }
  
  .card .social-link2:hover {
    background-color: #242c34;
    animation: bounce_613 0.4s linear;
  }
  
  .card .social-link3:hover {
    background-color: #5865f2;
    animation: bounce_613 0.4s linear;
  }
  
  .card .social-link4:hover {
    background-color: #0a66c2;
    animation: bounce_613 0.4s linear;
  }
  @keyframes bounce_613 {
    40% {
      transform: scale(1.4);
    }
  
    60% {
      transform: scale(0.8);
    }
  
    80% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
  }
  .form-container {
    margin: 2.5vw;
    width: 25vw;
    background: linear-gradient(#212121, #212121) padding-box,
                linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  .form-container button:hover{
    box-shadow: inset 0 0 80px whitesmoke, inset 20px 0 80px rgba(255, 0, 255, 0.747),
      inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff,
      0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
  }
  .form-container button:active {
    scale: 0.95;
  }
  
  .form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #717171;
    font-weight: 600;
    font-size: 12px;
  }
  
  .form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
  }
  
  .form-container .form-group textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: #fff;
    height: 96px;
    border: 1px solid #414141;
    background-color: transparent;
    font-family: inherit;
  }
  
  .form-container .form-group input::placeholder {
    opacity: 0.5;
  }
  
  .form-container .form-group input:focus {
    outline: none;
    border-color: #e81cff;
  }
  
  .form-container .form-group textarea:focus {
    outline: none;
    border-color: #e81cff;
  }
  
  .form-container .form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: #717171;
    font-weight: 600;
    width: 40%;
    background: #313131;
    border: 1px solid #414141;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
  }
  
  .form-container .form-submit-btn:hover {
    background-color: #fff;
    border-color: #fff;
  }
  .bLeft button{
    margin: 0 9vw;
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.541);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
    font-size: 15px;
    font-weight: bold;
    text-shadow: 0 0 .5em var(--glow-color);
    color: var(--glow-color);
   }
.bLeft button:hover {
  color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
   }
   
.bLeft button:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
   }  